/*
https://raw.githubusercontent.com/isagalaev/highlight.js/master/src/styles/vs2015.css
*/
/*
 * Visual Studio 2015 dark style
 * Author: Nicolas LLOBERA <nllobera@gmail.com>
 */


.hljs-keyword,
.hljs-literal,
.hljs-symbol,
.hljs-name {
	color: #569CD6;
}
.hljs-link {
	color: #569CD6;
	text-decoration: underline;
}

.hljs-built_in,
.hljs-type {
	color: #4EC9B0;
}

.hljs-number,
.hljs-class {
	color: #B8D7A3;
}

.hljs-string,
.hljs-meta-string {
	color: #D69D85;
}

.hljs-regexp,
.hljs-template-tag {
	color: #9A5334;
}

.hljs-subst,
.hljs-function,
.hljs-title,
.hljs-params,
.hljs-formula {
	color: #DCDCDC;
}

.hljs-comment,
.hljs-quote {
	color: #57A64A;
	font-style: italic;
}

.hljs-doctag {
	color: #608B4E;
}

.hljs-meta,
.hljs-meta-keyword,
.hljs-tag {
	color: #9B9B9B;
}

.hljs-variable,
.hljs-template-variable {
	color: #BD63C5;
}

.hljs-attr,
.hljs-attribute,
.hljs-builtin-name {
	color: #9CDCFE;
}

.hljs-section {
	color: gold;
}

.hljs-emphasis {
	font-style: italic;
}

.hljs-strong {
	font-weight: bold;
}

/*.hljs-code {
	font-family:'Monospace';
}*/

.hljs-bullet,
.hljs-selector-tag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
	color: #D7BA7D;
}

.hljs-addition {
	background-color: var(--vibecoda-diffEditor-insertedTextBackground, rgba(155, 185, 85, 0.2));
	color: rgb(155, 185, 85);
	display: inline-block;
	width: 100%;
}

.hljs-deletion {
	background: var(--vibecoda-diffEditor-removedTextBackground, rgba(255, 0, 0, 0.2));
	color: rgb(255, 0, 0);
	display: inline-block;
	width: 100%;
}


/*
From https://raw.githubusercontent.com/isagalaev/highlight.js/master/src/styles/vs.css
*/
/*

Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>

*/

.vibecoda-light .hljs-function,
.vibecoda-light .hljs-params,
.vibecoda-light .hljs-number,
.vibecoda-light .hljs-class  {
	color: inherit;
}

.vibecoda-light .hljs-comment,
.vibecoda-light .hljs-quote,
.vibecoda-light .hljs-number,
.vibecoda-light .hljs-class,
.vibecoda-light .hljs-variable {
	color: #008000;
}

.vibecoda-light .hljs-keyword,
.vibecoda-light .hljs-selector-tag,
.vibecoda-light .hljs-name,
.vibecoda-light .hljs-tag {
	color: #00f;
}

.vibecoda-light .hljs-built_in,
.vibecoda-light .hljs-builtin-name {
	color: #007acc;
}

.vibecoda-light .hljs-string,
.vibecoda-light .hljs-section,
.vibecoda-light .hljs-attribute,
.vibecoda-light .hljs-literal,
.vibecoda-light .hljs-template-tag,
.vibecoda-light .hljs-template-variable,
.vibecoda-light .hljs-type {
	color: #a31515;
}

.vibecoda-light .hljs-subst,
.vibecoda-light .hljs-selector-attr,
.vibecoda-light .hljs-selector-pseudo,
.vibecoda-light .hljs-meta,
.vibecoda-light .hljs-meta-keyword {
	color: #2b91af;
}
.vibecoda-light .hljs-title,
.vibecoda-light .hljs-doctag {
	color: #808080;
}

.vibecoda-light .hljs-attr {
	color: #f00;
}

.vibecoda-light .hljs-symbol,
.vibecoda-light .hljs-bullet,
.vibecoda-light .hljs-link {
	color: #00b0e8;
}


.vibecoda-light .hljs-emphasis {
	font-style: italic;
}

.vibecoda-light .hljs-strong {
	font-weight: bold;
}
